<footer id="footer">
  <div class="footer-content container">
    <p>&copy; 2023 Menashe Mtku</p>
    <div class="social">
      <a href="https://www.linkedin.com/in/menashe-mtku/" target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://github.com/MenasheMtku/movie-app" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
