<nav id="main-nav">
  <div class="container">
    <div class="nav-container py-1">
      <div class="nav-section-one">
        <div class="logo">
          <h2>ChillaX</h2>
        </div>
        <!-- Links -->
        <ul class="header-nav-list">
          <li><a href="/" class="header-nav-tab">Home</a></li>
          <li><a href="#" class="header-nav-tab">About</a></li>
        </ul>
      </div>
      <div class="nav-section-two">
        <!-- search Query -->
        <div id="form-info">
          <!-- <h1>Search For a Movie</h1> -->
          <form class="form-input" action="/results" method="GET">
            <input
              class=""
              type="text"
              placeholder="Type here..."
              name="search"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Search Result</title> -->
