<nav id="main-nav">
  <div class="container">
    <div class="nav-container py-1">
      <div class="nav-section-one">
        <div class="logo">
          <h2>Cinema Central</h2>
        </div>
        <!-- Links -->
        <ul class="header-nav-list">
          <li><a href="/" class="header-nav-tab">Home</a></li>
          <li><a href="about" class="header-nav-tab">About</a></li>
        </ul>
      </div>
      <div class="nav-section-two">
        <!-- search Query -->
        <div id="form-info">
          <!-- <h1>Search For a Movie</h1> -->
          <form class="form-input" action="/results" method="GET">
            <input
              class=""
              type="search"
              placeholder="Type here..."
              name="search"
            />
            <!-- <button type="submit">Search</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
