<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="background-results">
      <div id="main-results">
        <div>
          <header><%- include ('partials/header') %></header>
        </div>

        <div class="container"><%- include('partials/movies/search') %></div>
      </div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
