@import "config";

// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 2px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 0;
  border-radius: 15px;
  background: #191818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 1px;
  border-radius: 20px;
  background: rgb(102, 105, 102);
}
body {
  font-family: $font;
  color: #fff;
  // min-height: 100%;
  min-height: 100vh;
  line-height: 1.6;
  background-color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  // color: #eee;
}
