// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 30, 29);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cecaca;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // text-wrap: balance;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
