@import "reset";
@import "utilities";
@import "config";
@import "results";
@import "search";

body {
  font-family: $font;
  color: #fff;
  // min-height: 100%;
  min-height: 100vh;
  line-height: 1.6;
  background-color: #333;
}

#main-nav {
  position: sticky;
  top: 0;
  color: #333;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $website-width;
    // margin: 0 2%;
    // padding: 10px 0.5rem;

    .nav-section-one {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      column-gap: 3rem;
      align-items: baseline;
    }
  }

  .logo {
    margin-top: 0.5rem;
    color: $light-color;

    :first-child {
      font-size: 2.4rem;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  li {
    // padding: 0.5rem 1rem;
    margin: 0.55rem 0.6rem;
  }

  a {
    text-decoration: none;
    color: $light-color;
    font-size: 1.2rem;
    font-weight: 300;
    // font-weight: bold;
  }
}

.Wrapper {
  background: url(../img/netflix.jpg) no-repeat center center/cover;
  min-height: 100vh;
  width: 100%;
  // width: min(75rem, 100% - 1rem);
  margin-inline: auto;

  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
}

#form-info {
  display: block;
}
#form-info .form-input input::placeholder {
  color: rgb(151, 150, 150);
}
#form-info .form-input input {
  display: block;
  margin: 0 auto;
  text-align: center;
  outline: none;
  border: 1px solid white;
  color: white;
  font-size: 1.1rem;
  // border-radius: 0 20px 20px 0;
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 20px;
}

// footer
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $dark-color;
  color: #fff;
  height: $footer_height;
  scroll-snap-stop: always;
  scroll-snap-align: end;

  .footer-content {
    display: flex;
    justify-content: center;
    column-gap: 1.4rem;
    align-items: center;
    padding: 18px 0;
    // height: 5rem;
    // padding: 15px 10%;

    .social a {
      text-decoration: none;
      color: #fff;
    }
    .social .fab {
      font-size: 1.5rem;
      margin-right: 1rem;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      border-radius: 50%;
      // border: 2px #fff solid;

      &:hover {
        color: $main-color;
      }
    }
  }
}

// Import Media Queries
@import "media";
